.card-container{
    text-decoration:none;
    padding:5px;
    display:inline-flex;
    min-width: 10em;
    border:1px solid black;
    border-radius:10px;
    margin-right:10px;
    margin-bottom:10px;

    min-height:3em;
    max-height:3em;

    min-width:20em;
    max-width:20em;
}

.card-container p{
    display:inline;
    font-size:16px;
}

.card-container .link:visited{
    color:inherit;
}

.card-container:active{
    background-color:gray;
    cursor:pointer;
}

.card-container:focus{
    background-color:gray;
}



.card-container img{
    max-width: 3em;
    max-height: 3em;
    display: inline;
}

.remove-button{
    margin-left:auto;
    border-radius:20px;
    background-color:white;
}

.remove-button:hover{
    background-color:gray;
}
